# Ignore node_modules in backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore lock files (optional, unless using lockfiles in a team)
package-lock.json
yarn.lock

# Ignore Terraform files
backend/.terraform/
backend/.terraform.lock.hcl

# Ignore Terraform files and providers
.terraform/
*.tfstate
*.tfstate.backup


# Ignore environment variables (if you use them)
.env
".terraform/" 
